[Unit]
Description=GPU miner
After=network.target
Wants=network.target
Requires=mine-x.service
After=mine-x.service

[Service]
ExecStart=/home/radek/scripts/mine-scrypt-gpu
#ExecReload=/bin/kill -HUP $MAINPID
#StandardInput=null
#StandardOutput=null
User=radek
Restart=always

[Install]
WantedBy=multi-user.target
